body {
    color:#333333;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
    margin: 16px;
}
header {
    margin: 16px 0 48px 0px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    cursor: pointer;
}
.portrait {
    width: 250px;
    height: 360px;
}
.main-container {
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
@media (max-width:767px) {
    .ib-iframe-parent {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 95px;
      height: 95px;
      background: unset;
      transition: background-color 1s 1s;
      z-index: 9999999999;
    }
    .widget-open .ib-iframe-parent {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  @media (min-width:768px) {
    .ib-iframe-parent {
      width: 95px;
      height: 95px;
      position: fixed;
      bottom: 0;
      right: 15px;
      z-index: 9999999999;
    }
    .widget-open .ib-iframe-parent {
      width: 400px;
      height: 695px;
      max-height: 100vh;
    }
  }
  .widget-close .ib-iframe-parent {
    animation: close-widget .4s cubic-bezier(.62,.28,.23,.99);
    animation-delay: .2s;
    animation-fill-mode: both;
  }
  .ib-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .widget-embedded .ib-iframe {
    position: static;
  }
  .widget-closed-no-chat-button .ib-iframe-parent {
    animation: close-widget .4s cubic-bezier(.62,.28,.23,.99);
    animation-delay: .2s;
    animation-fill-mode: both;
    width: 0px;
    height: 0px;
  }
  @keyframes close-widget {
    0% {
      width: 400px;
      height: 695px
    }
  }
  